@font-face {
  font-family: 'StarJedi Special Edition Regular';
  font-style: normal;
  font-weight: normal;
  src: local('StarJedi Special Edition Regular'), url('/assets/fonts/STJEDISE.woff') format('woff');
}

@font-face {
  font-family: 'Star Jedi Hollow Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Star Jedi Hollow Regular'), url('/assets/fonts/Starjhol.woff') format('woff');
}

h1 {
  color: yellow;
  font-family: 'Star Jedi Hollow Regular';
}