@font-face {
  font-family: 'StarJedi Special Edition Regular';
  font-style: normal;
  font-weight: normal;
  src: local('StarJedi Special Edition Regular'), url('/assets/fonts/STJEDISE.woff') format('woff');
}

@font-face {
  font-family: 'Star Jedi Hollow Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Star Jedi Hollow Regular'), url('/assets/fonts/Starjhol.woff') format('woff');
}

h1 {
  font-family: 'Star Jedi Hollow Regular';
}

a.logo, a.nav-link {
  text-decoration: none;
}

a.nav-link {
  margin: 0.2rem 0.5rem 0.2rem 0.5rem;
}
